alembic
asyncpg
beautifulsoup4
fastapi
nltk
numpy
pandas
passlib
psycopg[binary]
psycopg2-binary
pydantic[email]
python-dotenv
PyJWT
requests
sastrawi
scikit-learn
scipy
sqlalchemy
sqlmodel
uvicorn[standard]